<div class="footer footer_container bg-success" fxLayout="row" fxLayoutAlign="center stretch">
    <span fxFlex></span>
    <h1 routerLink="" class="mat-title text-white brand_name" style="font-family: fantasy;">Dynamic market </h1>
    <span fxFlex></span>
    <div routerLink="/shopping/search" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon class="text-white">search</mat-icon>
    </div>
    <span fxFlex></span>
    <ngx-loading [show]="notification.loading"></ngx-loading>
</div>