<div class="container page">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="tora_app kop_app mb-3">

        <h1 class="mat-title">Tora Kop</h1>
        <div class="mat-body-1">
            Achettez vos produits en ligne. 
        </div>
        <button mat-raised-button color="primary" routerLink="/offers">Tous les produits</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center" class="tora_app event_app mb-3">
        <h1 class="mat-title">Tora events</h1>
        <div class="mat-body-1">
            Soyez au courant de ce qui se passe autour de vous!
            Reservez votre billet en ligne pour les evenements qui vous interesse le plus.
            Organizez vos propres evenements
        </div>
        <button mat-raised-button color="primary" routerLink="/events">Evenements</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center" class="tora_app service_app">
        <h1 class="mat-title">Tora Service</h1>
        <div class="mat-body-1">
            Faites connaitre votre business en ligne. Et decouvrez les services dont vous avez besoin
        </div>
        <button mat-raised-button color="primary" routerLink="/services">Services</button>
    </div>
</div>